


body
{

  background:#393E46;
}







.fps
{
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 10;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    font-family: monospace;
    font-size: large;
}
